<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .anamorf-matrix__width {
            overflow: auto;
            white-space:nowrap;
            width: 500px;
        }
        input {
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="anamorf-matrix">
    <div class="anamorf-matrix__width">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
        <input type="text" class="cell" size="4" value="0.1">
    </div>
</div>
</body>
</html>